 <!-- ======= Contact Section ======= -->
 <section id="contact" class="contact">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div>

      <div class="row mt-5">

        <div class="col-lg-4" data-aos="fade-right">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Mall Road, Quaid Avenue, Wah Cantt, Rawalpindi, Punjab</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>usmansadiq.cs@gmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+9200000000</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">
          <!-- <form action="{% url 'home' %}" method="post" role="form"  class="" >
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" style="resize: none;" required></textarea>
            </div>
            <div class="my-3">
              <!-- <div class="loading">Loading</div> -->
              <!-- <div class="error-message"></div> -->
              <!-- <div class="sent-message">Your message has been sent. Thank you!</div> -->
            <!-- </div> -->
            <!-- <div class="text-center"><button type="submit" class="btn btn-warning rounded ">Send Message</button></div> -->
            <!-- <div class="text-center"><button type="submit">Send Message</button></div> -->
          <!-- </form> -->
          <form action="{% url 'home' %}" method="post" role="form" >
           {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn mt-3" style="background-color:#FC8129; border-radius: 25px; outline: none; color:white">Send Message</button>
            </div>
            {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-info alert-dismissible fade show mt-3" role="alert" id="contact_msg">
                    {{message}}.
                  </div>
                  {% endfor %}
            {% endif %}
          </form>
        </div>
      </div>
    </div>
    <script>
      setTimeout(() => {
      const box = document.getElementById('contact_msg');
      contact_msg.style.visibility = 'hidden';
    }, 10000);
    </script>
  </section><!-- End Contact Section -->