 <!-- ======= Services Section ======= -->
 {% load static %}
 <section id="services" class="services">
    <div class="container">
      <div class="section-title" data-aos="zoom-out">
        <h2>Services</h2>
        <p>What we do offer</p>
      </div>
      <div class="row ">
        <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
          <div class="icon-box" data-aos="zoom-in-right">
            <div class='row '>
              <div class="col-12">
                <h3 class="title ">Desktop App Development</h3>
              </div>
            </div>
            <!-- <img src="{% static 'core/img/desktopService.jpg' %}" alt="">
            <h4 class="title"><a href="">Desktop Application Development</a></h4> -->
            <div class='row'>
              <div class="col-12">
                <img src="{% static 'core/img/securityService.jpg' %}" alt="" width="20px" height="20px">
                Security Applications
              </div>
            </div>
            <div class='row'>
              <div class='col-1'>
                <img src="{% static 'core/img/healthcareService.jpg' %}" alt="" width="20px" height="20px">
              </div>
              <div class="col-11">
                Health Care Applications
              </div>
            </div>
            <div class='row'>
              <div class='col-1'>
                <img src="{% static 'core/img/financialService.jpg' %}" alt="" width="20px" height="20px">
              </div>
              <div class="col-11  ">
                Financial Applications
              </div>
            </div>
            <div class='row'>
              <div class='col-1'>
                <img src="{% static 'core/img/automationService.jpg' %}" alt="" width="20px" height="20px">
              </div>
              <div class="col-11  ">
                Automation Applications
              </div>
            </div>
            
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
          <div class="icon-box" data-aos="zoom-in-right">
            <div class='row '>
              <div class="col-12">
                <h3 class="title ">Machine Learning</h3>
              </div>
            </div>
            <!-- <img src="{% static 'core/img/desktopService.jpg' %}" alt="">
            <h4 class="title"><a href="">Desktop Application Development</a></h4> -->
            <div class='row'>
              <div class='col-1'>
                <img src="{% static 'core/img/mlModel.jpg' %}" alt="" width="20px" height="20px">
              </div>
              <div class="col-11  ">
                ML Model Building
              </div>
            </div>
            <div class='row'>
              <div class='col-1'>
                <img src="{% static 'core/img/data.jpg' %}" alt="" width="20px" height="20px">
              </div>
              <div class="col-11 ">
                Data Engineering
              </div>
            </div>
            <div class='row'>
              <div class='col-1'>
                <img src="{% static 'core/img/dataAnalysis.jpg' %}" alt="" width="20px" height="20px">
              </div>
              <div class="col-11  ">
                Data Analysis
              </div>
            </div>
            <div class='row'>
              <div class='col-1'>
                <img src="{% static 'core/img/mlDeployment.jpg' %}" alt="" width="20px" height="20px">
              </div>
              <div class="col-11  ">
                Model Deployment
              </div>  
            </div>
            
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
          <div class="icon-box" data-aos="zoom-in-right">
            <div class='row '>
              <div class="col-12">
                <h3 class="title ">Web Development</h3>
              </div>
            </div>
            <!-- <img src="{% static 'core/img/desktopService.jpg' %}" alt="">
            <h4 class="title"><a href="">Desktop Application Development</a></h4> -->
            <div class='row'>
              <div class='col-1'>
                <img src="{% static 'core/img/ecommerce.jpg' %}" alt="" width="20px" height="20px">
              </div>
              <div class="col-11  ">
                Ecommerce Webssites
              </div>
            </div>
            <div class='row'>
              <div class='col-1'>
                <img src="{% static 'core/img/webportal.jpg' %}" alt="" width="20px" height="20px">
              </div>
              <div class="col-11 ">
                Web Portals
              </div>
            </div>
            <div class='row'>
              <div class='col-1'>
                <img src="{% static 'core/img/enterprice.jpg' %}" alt="" width="20px" height="20px">
              </div>
              <div class="col-11  ">
                Enterprise Web Solutions
              </div>
            </div>
            
          </div>
        </div>
        </div>
    </div>
  </section><!-- End Services Section -->
