<!-- ======= Team Section ======= -->
{% load static %}
<section id="team" class="team">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Team</h2>
        <p>Our Hardworking Team</p>
      </div>

        <div class="row justify-content-around">
            <div class="col-sm-3">
              <div class="member" data-aos="fade-up">
                <div class="member-img">
                  <!-- <img src="{% static 'core/img/team/usman.jpg' %}" class="img-fluid" alt=""> -->
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info text-center">
                  <h4>Usman Sajid</h4>
                  <span>Machine Learning Engineer</span>
                  <span>Desktop App Developer</span>
                </div>
              </div>
            </div>
  
            <div class="col-sm-3">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <!-- <img src="{% static 'core/img/team/usmanS.jpg' %}" class="img-fluid" alt=""> -->
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info text-center">
                  <h4>Husnain Khurshid</h4>
                  <span>Machine Learning Engineer</span>
                  <span>Website Frontend Developer</span>
                </div>
              </div>
            </div>
  
            <div class="col-sm-3">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <!-- <img src="{% static 'core/img/team/xuna.jpg' %}" class="img-fluid" alt=""> -->
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info text-center">
                  <h4>Zunnooran Mustafa</h4>
                  <span>Analyst</span>
                  <span>Backend Developer</span>
                </div>
              </div>
            </div>
        </div>
      </div>
  </section><!-- End Team Section -->